/* reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body {
    height: 100%;
}


/*-------------------------------------------*/

body {
    background-image: url("tiger.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}

footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

h1, h2, section, a, footer, p {
    font-family: "Lato", sans-serif;
}


* {
    box-sizing: border-box;
}


section {
    position: relative;
    float: left;
}

.container {
    position: relative;
    background-color: gray;
    opacity: 1;
}


#header {
    background-color: rgba(0, 100, 255, 0);
    position: relative;
    text-align: center;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
}

#header #header-content {
    margin: 10px;
    display: block;
    float: none;
}

@media only screen and (min-width: 768px) {
    #header {
        text-align: right;
        width: 100%;
        height: 40px;
    }
    #header #header-content {
        float: right;
    }
}


h1 {
    position: relative;
    display: inline-block;
    color: white;
    font-size: 36px;
    font-weight: bold;
    margin: 0px;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    h1 {
        color: black;
        text-align: left;
        opacity: 0.8;
    }
}

h2 {
    position: relative;
    display: inline-block;
    color: white;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 15px;
}

p {
    margin-left: 2px;
    margin-bottom: 4px;
}

a {
    text-decoration: none;
    position: relative;
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-right: 15px;
    opacity: 0.9;
}


a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 2px solid white;
    transition: 0.8s;
}


a:hover:after{
    width: 100%;
}

@media only screen and (min-width: 768px){

    a {
        color: black;
        opacity: 0.7;
    }

    a:after {
        content: '';
        border-bottom: 2px solid black;
    }
}



.title-box {
    display: inline-block;
    background-color: rgba(0, 100, 255, 0);
    position: relative;
    border: 5px solid white;
    opacity: 0.9;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 25px;
}

@media only screen and (min-width: 768px){
    .title-box {
        background-color: rgba(0, 100, 255, 0);
        opacity: 0.7;
        border: 5px solid black;
    }
}


[class*="col-"] {
    float: left;
    width: 100%;
    padding: 15px;
}

@media only screen and (min-width: 768px){
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}



.row::after {
    content: "";
    clear: both;
    display: block;
}